@model DVDCollection.Models.FilmsActorRol

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FilmsActorRol</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CharacterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CharacterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CharacterDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CharacterDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actor.ActorFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleType.RoleTypes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmTitle.FilmTitles)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
