@model IEnumerable<ReservacionesHotel.Models.Payment>

@{
    ViewData["Title"] = "Payments";
}

<h1>Payments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerSurnames)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booking.BookingID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod.PaymentMethodDesc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PaymentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
