@model ReservacionesHotel.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateBookingMade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateBookingMade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeBookingMade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeBookingMade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookedStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookedStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookedEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookedEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPaymentDueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPaymentDueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPaymentDueAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPaymentDueAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPaymentMadeOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPaymentMadeOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingComments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerAddressCountry)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookingID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
