@model DVDCollection.Models.Producer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Producer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProducerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProducerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactEmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactEmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Website)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProducerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
