@model ReservacionesHotel.Models.Guest

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Guest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestForenames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestForenames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestSurnames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestSurnames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestDOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestDOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestAddressStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestAddressStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestAddressTown)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestAddressTown)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestAddressCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestAddressCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestAddressPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestAddressPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestContactPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestContactPhone)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="GuestID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
