@model IEnumerable<DVDCollection.Models.FilmGenre>

@{
    ViewData["Title"] = "Film Genres";
}

<h1>Film Genres</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Genre: <input type="text" name="SearchString"  />
            <input type="submit" value="Search" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GenreID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GenreID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GenreID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
