@model IEnumerable<DVDCollection.Models.FilmTitlesProducer>

@{
    ViewData["Title"] = "Film Titles Producer";
}

<h1>Film Titles Producer</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Producer name or FilmTitle: <input type="text" name="SearchString"  />
            <input type="submit" value="Search" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Producer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilmTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Producer.ProducerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmTitle.FilmTitles)
            </td>
            <td>
               
                @Html.ActionLink("Details", "Details", new { id=item.ProducerID, id2=item.FilmTitleID /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ProducerID, id2=item.FilmTitleID/* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
