@model ContosoUniversity.Models.CourseAssignment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CourseAssignment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instructor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instructor.FullName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
